@(title: String)(content: Html)

@import play.i18n._

<!DOCTYPE html>
<html>
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    	<meta charset="utf-8">
    	<meta http-equiv="X-UA-Compatible" content="IE=edge">
    	<meta name="viewport" content="width=device-width, initial-scale=1">
    	<meta name="description" content="">
    	<meta name="author" content="">
    	
    	<link rel="stylesheet" media="screen" href="@routes.Assets.at("stylesheets/main.css")">
        <link rel="shortcut icon" type="image/png" href="@routes.Assets.at("images/icon.png")">
        <script src="@routes.Assets.at("javascripts/jquery-1.11.1.min.js")" type="text/javascript"></script>
    	
    	<link rel="shortcut icon" href="">
		<link rel="stylesheet" media="screen" href="@routes.Assets.at("stylesheets/bootstrap/bootstrap.min.css")" />
		
		<style id="holderjs-style" type="text/css"></style>

		<title>@title</title>
		
  	</head>

  	<body>

    <div class="navbar navbar-inverse navbar-fixed-top" role="navigation">
      <div class="container-fluid">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="">@image("images/icon.png",28,22,Messages.get("Home"))ObservaParo</a>
        </div>
        <div class="navbar-collapse collapse">
          <ul class="nav navbar-nav navbar-right">
          	<li><a href="">@Messages.get("Home")</a></li>
            <li><a href="About-us">@Messages.get("About.me")</a></li>
          </ul>
        </div>
      </div>
    </div>
	</br>
    <div class="container-fluid">
    	<div class="row">
  			<div class="col-md-10 col-md-push-2">
  				@content
          	</div>
  			<div class="col-md-2 col-md-pull-10">
  				</br>
  				</br>
  				</br>
  			 	<ul class="nav nav-sidebar">
            		<li><a href="communities">@Messages.get("Autonomous.Communities")</a></li>
            		<li><a href="provinces">@Messages.get("Provinces")</a></li>
            		<li><a href="sectors">@Messages.get("Economic.sectors")</a></li>
            		<li><a href="people">@Messages.get("People")</a></li>
          		</ul>
  			</div>
		</div>
    </div>
</body>
</html>
