@()

@import play.i18n._
@import utils._
@import models._
@import play.cache._
@import scala.math._
@import views.html.helper._

@main("ObservaParo") {
	</br>
 	</br>
	<ol class="breadcrumb">
		<li><a href="/">@Messages.get("About.me")</a></li>
	</ol>
	</br>
        <div class="jumbotron">
		<h1 class="page-header">@Messages.get("Wellcome")</h1>
        <p class="lead">
         	@Messages.get("Message.aboutMe")
        </p>
        <p>
        	Luis Ángel Rodríguez García - UO227643
        </p>
	</div>
  	
}